{{- define "main" -}}
{{- $site := . -}}
{{- $path := .Site.Params.afpUrls.html -}}
{{- if isset .Site.Data "status" -}}
  {{- $path = .Site.Params.afpUrls.htmlDevel -}}
{{- end -}}
{{- $entry_name := .File.BaseFileName -}}
<main>
  {{- if isset .Site.Data "status" -}}
  <strong>
    This is a development version of this entry. It might change over time and is not stable. Please refer to release versions for citations.
  </strong>
  {{- end -}}
  <h3>Abstract</h3>

  <div class="abstract mathjax_process">{{- trim .Params.abstract "\n" | safeHTML -}}</div>
  {{- if (eq .Params.licence "BSD") -}}
  <a href="http://isa-afp.org/LICENSE">BSD License</a>
  {{- else if (eq .Params.license "LGPL") -}}
  <a href="http://isa-afp.org/LICENSE.LGPL">GNU Lesser General Public License (LGPL)</a>
  {{- else -}}
    {{- printf "%s License" .Params.license -}}
  {{- end -}}

  {{- with .Params.extra -}}
  {{- range $key, $value := . -}}
  <h3>{{- humanize $key -}}</h3>

  <p>{{- $value | safeHTML -}}</p>
  {{- end -}}
  {{- end -}}

  {{- $Scratch := newScratch -}}
  
  {{- with .Params.dependencies -}}
    <h3>Depends On</h3><ul>
      {{- range . -}}
      <li>{{- printf "[%s](/entries/%s.html)" . . | $.Page.RenderString -}}</li>
      {{- end -}}
    </ul>
  {{- end -}}

  {{- with (index .Site.Taxonomies.dependencies (urlize $entry_name)) -}}
    <h3>Used by</h3>
    <ul>
      {{- range . -}}
      <li>{{- printf "[%s](%s)" .File.BaseFileName .RelPermalink | $.Page.RenderString -}}</li>
      {{- end -}}
    </ul>
  {{- end -}}

  {{- with .Params.topics -}}
  <h3>Topics</h3>
  <ul>
    {{- range . -}}
    <li>{{- printf "[%s](/topics/%s)" . (urlize .) | $.Page.RenderString -}}</li>
    {{- end -}}
  </ul>
  {{- end -}}

  <h3>Theories</h3>
  <ul>
    {{ $file := printf "assets/theories/%s.html" $entry_name}}
    {{- with .Params.theories -}}
    {{- range . -}}
    <li>{{- printf "[%s](%s/theories#%s)" . (urlize $entry_name) . | $.Page.RenderString -}}</li>
    {{- end -}}
    {{- end -}}
  </ul>

  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <h3>Related Entries</h3>
  <ul>
    {{ range . }}
    <li>{{- printf "[%s](%s)" .Title .RelPermalink | $.Page.RenderString -}}</li>
    {{ end }}
  </ul>
  {{ end }}
</main>

{{- if isset .Site.Data "status" -}}
  <nav>
  {{- $status := "none" -}}
  {{- range where .Site.Data.status.entries "entry" $entry_name -}}
    {{- $status = .status -}}
  {{- end -}}
    <div class="status-{{ $status }}">
      <p>Status: <strong>{{- $status -}}</strong></p>
      <p>{{ .Site.Data.status.build_data.time }}</p>
      <p>Isabelle/<wbr>{{ .Site.Data.status.build_data.isabelle_id }}</p>
      <p>AFP/<wbr>{{ .Site.Data.status.build_data.afp_id }}</p>
      <p><a href="{{ .Site.Data.status.build_data.url }}">{{ .Site.Data.status.build_data.job }}</a></p>
    </div>
  </nav>
{{- else -}}
<nav class='links'>
  <a class='popUpButton' href="#citePopUp">Cite</a>
  <a class='popUpButton' href="#downloadPopUp">Download</a>
  <h4>PDFs</h4>
  <a href="{{- $path -}}/{{- $entry_name -}}/outline.pdf">Proof
    outline</a>
  <a href="{{- $path -}}/{{- $entry_name -}}/document.pdf">Proof
    document</a>
  <a href="{{- $path -}}/{{- $entry_name -}}/session_graph.pdf">Dependencies</a>
</nav>

<div id="citePopUp" class="overlay">
  <a class="cancel" href="#"></a>
  <div class="popup">
    <h2>Cite</h2>
    <a class="close" href="#">&times;</a>
    <div>
      <p style="display:none;" id="bibtexFileName">{{- $entry_name -}}-AFP</p>
      <pre id="copyText">@article{{- "{" -}}{{- $entry_name -}}-AFP,
  author  = {{ "{" -}}{{- delimit .Params.authors ", " | replaceRE "(, )([^,]+$)" " and $2" -}}},
  title   = {{ "{" -}}{{- htmlUnescape .Params.title -}}},
  journal = {Archive of Formal Proofs},
  month   = {{ dateFormat "January" .Params.date -}},
  year    = {{ dateFormat "2006" .Params.date -}},
  note    = {\url{http://isa-afp.org/entries/{{- $entry_name -}}.html},
            Formal proof development},
  ISSN    = {2150-914x},
}</pre>
      <button id="copyBibtex">Copy</button> <a id="downloadBibtex">Download</a>
    </div>
  </div>
</div>

<div id="downloadPopUp" class="overlay">
  <a class="cancel" href="#"></a>
  <div class="popup">
    <h2>Download</h2>
    <a class="close" href="#">&times;</a>
    <a href="https://isa-afp.org/release/afp-{{- $entry_name -}}-current.tar.gz" download>Download latest</a>
    {{ with .Params.olderReleases -}}
    <p>Older releases:</p>
    <ul>
      {{- range $map := . -}}
      {{- range $key, $value := $map -}}
      <li>Isabelle {{- $key -}}:
        <a href="https://isa-afp.org/release/afp-{{- $entry_name -}}-{{- $value -}}.tar.gz">
          afp-{{- $entry_name -}}-{{- $value -}}.tar.gz
        </a>
      </li>
      {{- end -}}
      {{- end -}}
    </ul>
    {{- end }}
  </div>
</div>
{{- end -}}

{{- end -}}
