<div id="menu-toggle">
  <input id="toggle" type="checkbox" />
  <label for="toggle">
    <span>menu</span>
    <img src="{{ .Site.BaseURL }}images/menu.svg" alt="Menu" />
  </label>

  <a href="{{ .Site.BaseURL }}" class="logo-link">
    <img src="{{ .Site.BaseURL }}images/afp.png" alt="Logo of the Archive of Formal Proofs"
         class="logo">
  </a>

  <nav id="menu">
    <div>
      <a href="{{ .Site.BaseURL }}" class='logo-link'>
        <img src="{{ .Site.BaseURL }}images/afp.png" alt="Logo of the Archive of Formal Proofs"
             class="logo">
      </a>
      {{- $currentPage := . }}
      <ul>
        {{- range .Site.Menus.main }}
          <a href="{{ .URL }}">
            <li {{ if $currentPage.IsMenuCurrent "main" . }}class="active" {{ end }}>
              {{ .Name }}
            </li>
          </a>
        {{- end }}
      </ul>
    </div>
  </nav>
</div>