{{- $entry_name := .File.BaseFileName -}}
{{- $site := . -}}
{{- $path := .Site.Params.afpUrls.html -}}
{{- if isset .Site.Data "status" -}}
  {{- $path = .Site.Params.afpUrls.htmlDevel -}}
{{- end -}}
<div id="menu-toggle">
  <input id="toggle" type="checkbox" />
  <label for="toggle">
    <span>menu</span>
    <img src="{{- .Site.BaseURL -}}images/menu.svg" alt="Menu" />
  </label>

  <a href="{{- .Site.BaseURL -}}" class='logo-link'>
    <img src="{{- .Site.BaseURL -}}images/afp.png" alt='Logo of the Archive of Formal Proofs' class="logo">
  </a>

  <nav id="menu">
  <div>
    <a href="{{- .Site.BaseURL -}}" class='logo-link'>
      <img src="{{- .Site.BaseURL -}}images/afp.png" alt='Logo of the Archive of Formal Proofs'
        class="logo">
    </a>
    {{ $currentPage := . -}}
    <ul id="return">
      <li><a href="{{- .Site.BaseURL -}}entries/{{- $entry_name -}}.html">Return to entry</a></li>
    </ul>
    <hr>
    <ul id="theory-navbar" class="list-group"></ul>
  </div>
  <ul>
    <li><a href="{{- $path -}}/{{- $entry_name -}}/outline.pdf">Proof
      outline</a></li>
    <li><a href="{{- $path -}}/{{- $entry_name -}}/document.pdf">Proof
      document</a></li>
    <li><a href="{{- $path -}}/{{- $entry_name -}}/session_graph.pdf">Session dependencies</a></li>
  </ul>
  </nav>
</div>
