{{- $entry_name := .File.BaseFileName -}}
{{- $site := . -}}
<div>
  <div>
    <a href="{{- .Site.BaseURL -}}">
      <img src="{{- .Site.BaseURL -}}images/afp.png" alt='Logo of the Archive of Formal Proofs'
        class="logo">
    </a>
    {{ $currentPage := . -}}
    <ul>
      <li><a href="{{- .Site.BaseURL -}}entries/{{- $entry_name | urlize -}}">Return to entry</a></li>
    </ul>
    <hr>
    <ul>
      {{- range .Params.theories }}
      <li><a href="{{- $site.Site.Params.afpUrls.html -}}/{{ $entry_name }}/{{ . }}.html">{{ . }}</a></li>
      {{- end }}
    </ul>
  </div>
  <ul>
    <li><a href="{{- .Site.Params.afpUrls.html -}}/{{- $entry_name -}}/outline.pdf">Proof
      outline</a></li>
    <li><a href="{{- .Site.Params.afpUrls.html -}}/{{- $entry_name -}}/document.pdf">Proof
      document</a></li>
    <li><a href="{{- .Site.Params.afpUrls.html -}}/{{- $entry_name -}}/session_graph.pdf">Session dependencies</a></li>
  </ul>
</div>
