{{ define "main" }}
{{- $site := . -}}
{{ with (index (index .Site.Data.authors .Title) "homepages") }}
<h2>Homepages 🌐</h2>
<ul>
{{- range . -}}
  <li><a href="{{ . }}">{{ . }}</a></li>
{{- end -}}
</ul>
{{ end }}
{{ with (index (index .Site.Data.authors .Title) "emails") }}
<h2>E-Mails 📧</h2>
<ul>
{{- range . -}}
  <li><a href="mailto:{{ . }}">{{ . }}</a></li>
{{- end -}}
</ul>
{{ end }}

<h2>Entries</h2>
{{- range (.Data.Pages).GroupByDate "2006" -}}
{{- if ne .Key "0001" -}}
<h3 class="head">{{- .Key -}}</h3>
{{- range .Pages -}}
<article class="entry">
  <span class="item-text">
    <p><a class="title" href="{{ .RelPermalink }}">{{- htmlUnescape .Title -}}</a> <br>
      {{- $entry := . -}}
      {{- with .Params.authors -}}by {{ partial "authors.html" (dict "site" $site "authors" . "affiliations" $entry.Params.affiliations) -}}{{- end -}}</p>
  </span>
  <span class="date">
    {{ .Date.Format "Jan 02" }}
  </span>
</article>
{{ end }}
{{ end }}
{{ end }}
{{ end }}