<header>
  {{- if and (ne .Kind "home") (ne .RelPermalink "/search/") }}
    <form autocomplete="off" action="{{ "search" | relURL }}">
      <div class="form-container">
        <input id="search-input" type="search" size="31" maxlength="255" value=""
               aria-label="Search the AFP" list="autocomplete">
        {{- "" -}}
        <button id="search-button" type="button">
          <img src="{{ "images/search.svg" | relURL }}" alt="Search" />
        </button>
        <datalist id="autocomplete">
        </datalist>
      </div>
    </form>
  {{- end }}
  <h1 {{ if or (eq .Kind "home" ) (eq .RelPermalink "/search/") }} class="large-top-margin"{{ end }}>
    {{- (default .Site.Title .Title) | replaceRE "[A-Z]" "<span class='first'>$0</span>" | safeHTML }}
  </h1>
  <div>
    {{- with .Params.authors }}
      <p>
        {{- partial "authors.html" . }}
        {{- with $.Params.contributors }}
          with contributions from {{ partial "authors.html" . }}
        {{- end }}
      </p>
    {{- end }}
    {{- with .Params.date }}
      <p class="date">{{ dateFormat "January 2, 2006" . }}</p>
    {{- end }}
  </div>
</header>