<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{- if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta name="og:description" content="{{ .Site.Params.Description }}" />
  {{- else }}
    <title>{{ .Title | safeHTML }} - {{ .Site.Title }}</title>
    {{- $description := default
      (printf "%s in the Archive of Formal Proofs" .Title | plainify)
      .Description }}
    <meta name="description" content="{{ $description | safeHTMLAttr }}" />
    <meta property="og:description" content="{{ $description | safeHTMLAttr }}" />
  {{- end }}

  {{- with .OutputFormats.Get "rss" }}
  {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink
     $.Site.Title | safeHTML }}
  {{- end }}

  <meta property="og:title" content="{{ .Title | safeHTMLAttr }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ "images/afp.png" | absURL }}" />
  {{- if eq .Section "entries" }}
    <meta property="og:type" content="article" />
  {{- else if eq .Section "authors" }}
    <meta property="og:type" content="profile" />
  {{- else }}
    <meta property="og:type" content="website" />
  {{- end }}

  {{- $options := (dict "targetPath" "css/front.css") }}
  {{- $style := resources.Get "sass/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
  {{- if (eq .Section "sessions") }}
    <link rel="stylesheet" type="text/css" href="{{ "css/isabelle.css" | relURL }}">
  {{- end }}

  <link rel="icon" href="{{ "images/favicon.ico" | relURL }}" type="image/icon">

  {{- if or (eq .Section "entries") (eq .RelPermalink "/search/") }}
    {{/*
      The following is the MathJax configuration.
      This means that formulae can be enclosed in either $ … $ or \( … \)
    */}}
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"], ["\\(", "\\)"]]
        },
        processEscapes: true,
        svg: {
          fontCache: "global"
        }
      };
    </script>
    <script id="MathJax-script" async src="{{ "js/mathjax/es5/tex-mml-chtml.js" | relURL }}">
    </script>
  {{- end }}

  {{- if eq .Section "entries" }}
    <script src="{{ "js/entries.js" | relURL }}"></script>
  {{- end }}

  <script src="{{ "js/obfuscate.js" | relURL }}"></script>
  <script src="{{ "js/flexsearch.bundle.js" | relURL }}"></script>
  <script src="{{ "js/scroll-spy.js" | relURL }}"></script>
  <script src="{{ "js/theory.js" | relURL }}"></script>
  <script src="{{ "js/util.js" | relURL }}"></script>

  {{- if eq .RelPermalink "/search/" }}
    <script src="{{ "js/search.js" | relURL }}"></script>
    <script src="{{ "js/mark.min.js" | relURL }}"></script>
  {{- else }}
    <script src="{{ "js/header-search.js" | relURL }}"></script>
  {{- end }}
  <script src="{{ "js/search-autocomplete.js" | relURL }}"></script>
</head>