<div id="menu-toggle">
  <input id="toggle" type="checkbox" />
  <label for="toggle">
    <span>menu</span>
    <img src="{{ "images/menu.svg" | relURL }}" alt="Menu" />
  </label>

  <a href="{{ .Site.Home.RelPermalink }}" class="logo-link">
    <img src="{{ "images/afp.png" | relURL }}" alt="Logo of the Archive of Formal Proofs" class="logo">
  </a>

  <nav id="menu">
    <div>
      <a href="{{ .Site.Home.RelPermalink }}" class="logo-link">
        <img src="{{ "images/afp.png" | relURL }}" alt="Logo of the Archive of Formal Proofs" class="logo">
      </a>
      <ul>
        {{- range .Site.Menus.main }}
          <a href="{{ .URL | relURL }}">
            <li {{ if $.IsMenuCurrent .Menu . }}class="active" {{ end }}>{{ .Name }}</li>
          </a>
        {{- end }}
      </ul>
    </div>
  </nav>
</div>