<div id="menu-toggle">
  <input id="toggle" type="checkbox" />
  <label for="toggle">
    <span>menu</span>
    <img src="{{ "images/menu.svg" | relURL }}" alt="Menu" />
  </label>

  <a href="{{ .Site.Home.RelPermalink }}" class="logo-link">
    <img src="{{ "images/afp.png" | relURL }}" alt="Logo of the Archive of Formal Proofs" class="logo">
  </a>

  <nav id="menu">
    <div>
      <a href="{{ .Site.Home.RelPermalink }}" class="logo-link">
        <img src="{{ "images/afp.png" | relURL }}" alt="Logo of the Archive of Formal Proofs" class="logo">
      </a>
      {{- with .Params.entry }}
        <ul id="return">
          <li>
            <a href="{{ (page.GetPage (printf "entries/%s" .)).RelPermalink }}">Return to entry</a>
          </li>
        </ul>
      {{- end }}
      <hr>
      <ul id="theory-navbar" class="list-group"></ul>
    </div>
  </nav>
</div>