<form method=GET action="https://www.google.com/search">
  <table bgcolor="#FFFFFF">
    <tr>
      <td>
        <a HREF="https://www.google.com/">
          <img SRC="https://www.google.com/logos/Logo_40wht.gif" border="0" ALT="Google"></a>
      </td>
      <td>
        <input TYPE=text name=q size=31 maxlength=255 value="">
        <input type=submit name=btnG VALUE="Google Search">
        <font size=-1>
          <input type=hidden name=domains value="isa-afp.org">
          <br>
          <input type=radio name=sitesearch value="">
          Web
          <input type=radio name=sitesearch value="isa-afp.org" checked>
          Archive of Formal Proofs
          <br>
        </font>
      </td>
    </tr>
  </table>
</form>