<iframe id="iframe" name="iframe"
        style="border-style: none; width: 100%"
        onload='(function() {
          window.addEventListener("message", (event) => {
            if (Number.isInteger(event.data)) {
              this.style.height=event.data + 32 + "px"
            }
          })
        }).call(this)'></iframe>
<script>
const base = '{{ .Site.Params.submissionUrl }}'
document.getElementById("iframe").src = base + '/{{ .Get "endpoint" }}' + window.location.search
</script>
